body {
  background-color: powderblue;
}

ol li {
  color: #B32B16;
    font-size: large;
}

    h1 {
  color: blue;
}

h2 { 
  color: #2B7292; }

h3 { 
  color: #0C2B39;
  border: dashed #B32B16; } 

p {
  color: red;
    font-family: Helvetica;
  font-size: large;
}

a:visited {
  font-family: Helvetica; 
  color: #B32B16;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  width: 200px;
  background-color: blue ;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

a:hover {
  color: #2B7292;
  background-color: #F49384;
}

.box {
  border: 5px solid blue;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}






