body {
  background-color: powderblue;
}

ol li {
  color: #B32B16; }

    h1 {
  color: blue;
}

h2 { 
  color: #2B7292; }

h3 { 
  color: #0C2B39; } 

p {
  color: red;
    font-family: Helvetica;
  font-size: 19px;
}
