body {
  background-color: powderblue;
}

ol li {
  color: #B32B16;
    font-size: medium 
}

    h1 {
  color: blue;
}

h2 { 
  color: #2B7292; }

h3 { 
  color: #0C2B39;
  border: dashed #B32B16; } 

p {
  color: red;
    font-family: Helvetica;
  font-size: large;
}
